<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>MEGAZONE</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div class="slide">
    <div class="slide-menu">
        <div class="box1">
            <dl>
                <dth>혼자</dth>
                <div class="sidebar">
                    <ul class="menu-slide">
                        <li><a th:href="@{/}" onclick="makeBold(this)" class="menu-item"><span>마이페이지</span></a></li>
                        <li><a th:href="@{/private/pre-cbt}" onclick="makeBold(this)" class="menu-item"><span>기출문제</span></a></li>
                        <li><a th:href="@{/private/wrong}" onclick="makeBold(this)" class="menu-item"><span>오답노트</span></a></li>
                    </ul>
                </div>
            </dl>
        </div>

        <div class="box1">
            <dl>
                <dth>함께</dth>
                <div class="sidebar">
                    <ul class="menu-slide">
                        <li><a th:href="@{/public/notice}" onclick="makeBold(this)" class="menu-item"><span>공지사항</span></a></li>
                        <li><a th:href="@{/public/question}" onclick="makeBold(this)" class="menu-item"><span>질문답변</span></a></li>
                        <li><a th:href="@{/}" onclick="makeBold(this)" class="menu-item"><span>스터디</span></a></li>
                        <li><a th:href="@{/}" onclick="makeBold(this)" class="menu-item"><span>랭킹확인</span></a></li>
                    </ul>
                </div>
            </dl>
        </div>
    </div>
</div>

<div class="header">
    <div class="title">
        <a th:href="@{/}" id="title">MEGAZONE</a>
    </div>
    <div class="loginbox">
        <div class="login">
            <div class="msg">
                <b sec:authorize="isAuthenticated()"><span
                        th:text="${user.userEntity.nickname}"></span><span> 님 어서오세요.</span></b>
            </div>
            <div class="choice">
                <a sec:authorize="isAuthenticated()" th:href="@{/private/myinfo}">내정보</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
            </div>
        </div>
    </div>
</div>

<!-- jQuery 로드 -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- 커스텀 스크립트 로드 -->
<script>
    function makeBold(element) {
        // 모든 .menu-item 클래스를 가진 <a> 태그의 스타일을 초기화
        const menuItems = document.querySelectorAll('.menu-item');
        menuItems.forEach(item => {
            item.style.fontWeight = 'normal';
        });

        // 클릭한 <a> 태그의 스타일을 변경 (볼드체)
        element.style.fontWeight = 'bold';
    }
</script>

<script>
    document.getElementById("title").innerText = "MEGAZONE";
</script>
</body>
</html>
