<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Luke</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>

<div class="view">
    <div class="top">
        <div class="box">
            <div class="notice1">
                <dt style="font-weight: bold">
                    <div>내 정보</div>
                    <a class="plus" th:href="@{/private/myinfo}">자세히</a>
                </dt>
                <div class="info">
                    <p class="info_text">이름</p>
                    <p class="info_data"><span th:text="${user.userEntity.name}"></span></p>
                </div>
                <div class="info">
                    <p class="info_text">닉네임</p>
                    <p class="info_data"><span th:text="${user.userEntity.nickname}"></span></p>
                </div>
                <div class="info">
                    <p class="info_text">성별</p>
                    <p class="info_data"><span th:text="${user.userEntity.gender}"></span></p>
                </div>
                <div class="info">
                    <p class="info_text">아이디</p>
                    <p class="info_data"><span th:text="${user.userEntity.id}"></span></p>
                </div>
                <div class="info">
                    <p class="info_text">생년월일</p>
                    <p class="info_data"><span th:text="${user.userEntity.birthday}"></span></p>
                </div>
                <div class="info">
                    <p class="info_text">가입일</p>
                    <p class="info_data"><span th:text="${user.userEntity.createDate}"></span></p>
                </div>
                <div class="info">
                    <p class="info_text">등급</p>
                    <p class="info_data">
                        <span th:if="${user.userEntity.tier > 300}">골드<span
                                th:text="'(' + ${user.userEntity.tier} + ')'"></span></span>
                        <span th:if="${user.userEntity.tier > 100 and user.userEntity.tier <= 300}">실버<span
                                th:text="'(' + ${user.userEntity.tier} + ')'"></span></span>
                        <span th:if="${user.userEntity.tier > 30 and user.userEntity.tier <= 100}">브론즈<span
                                th:text="'(' + ${user.userEntity.tier} + ')'"></span></span>
                        <span th:if="${user.userEntity.tier <= 30}">기본<span
                                th:text="'(' + ${user.userEntity.tier} + ')'"></span></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="notice">
                <dt style="font-weight: bold">
                    <div>활동 기록</div>
                    <a class="plus" th:href="@{/board/notice}">+ 더보기</a>
                </dt>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="box">
            <dl class="notice">
                <dt style="font-weight: bold">
                    <div>공지사항</div>
                    <a class="plus" th:href="@{/public/notice}">+ 더보기</a>
                </dt>
                <ul>
                    <div class="li" th:each="notice, i : ${noticeList}">
                        <li>
                            <a th:href="@{|/public/notice/${notice.id}|}" class="main_text">
                                <span th:text="${i.index + 1}"></span> - <span class="notice-color" th:text="${notice.noticeTitle}"></span>
                            </a>
                        </li>
                    </div>
                </ul>
            </dl>
        </div>
        <div class="box">
            <dl class="notice">
                <ul>
                    <dt style="font-weight: bold">
                        <div>랭킹</div>
                        <a class="plus" th:href="@{/public/ranking}">+ 더보기</a>
                    </dt>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="rank-top">순위</th>
                            <th class="rank-top">닉네임</th>
                            <th class="rank-top">활동 점수</th>
                            <th class="rank-top">티어</th>
                        </tr>
                        </thead>
                        <tbody class="rank-body">
                        <tr th:each="user, rowStat : ${ranking.subList(0, 5)}">
                            <td class="rank-column" th:text="${rowStat.count}">1</td>
                            <td id="nickname" class="rank-column" th:text="${user.nickname}">닉네임</td>
                            <td class="rank-column" th:text="${user.tier}">활동 점수</td>
                            <td>
                                <span class="rank-column" th:if="${user.tier >= 300}">골드</span>
                                <span class="rank-column" th:if="${user.tier >= 100 && user.tier < 300}">실버</span>
                                <span class="rank-column" th:if="${user.tier >= 30 && user.tier < 100}">브론즈</span>
                                <span class="rank-column" th:if="${user.tier < 30}">기본</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ul>
            </dl>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div th:insert="common/footer.html" class="footer"></div>

<script>

    $('#target_img').click(function (e) {
        document.signform.target_url.value = document.getElementById('target_img').src;
        e.preventDefault();
        $('#file').click();
    });
</script>
</body>
</html>