<!-- pre-cbt.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEGAZONE</title>
    <link rel="stylesheet" th:href="@{/css/pre-cbt.css}">
</head>
<body>
<div th:insert="common/header.html" class="header"></div>

<div class="view">
    <div class="check"><h3>혼자 > 기출문제</h3></div>
    <div class="enter">
        <form method="post" action="/private/cbt">
            <div class="bar">
                <label for="name"></label>
                <select name="name" id="name" class="sort" onchange="updateOption()">
                    <option value="경찰">경찰</option>
                    <option value="소방">소방</option>
                    <option value="9급 국가직">9급 국가직</option>
                    <option value="9급 지방직">9급 지방직</option>
                    <option value="7급 국가직">7급 국가직</option>
                    <option value="7급 지방직">7급 지방직</option>
                </select>
            </div>
            <div class="bar">
                <label for="year"></label>
                <select name="year" id="year" class="sort">
                    <option value="2023">2023년</option>
                    <option value="2022">2022년</option>
                    <option value="2021">2021년</option>
                    <option value="2020">2020년</option>
                    <option value="2019">2019년</option>
                </select>
            </div>
            <div class="bar">
                <label for="subject"></label>
                <select name="subject" id="subject" class="sort">
                </select>
            </div>
            <div class="btn">
                <button type="submit" class="write-btn">응시하기</button>
            </div>
        </form>
    </div>
</div>

<script>

    function updateOption() {
        var name = document.getElementById("name").value;
        var year = document.getElementById("year").value;
        var subject = document.getElementById("subject"); // 수정: 변수명 "subject"로 변경

        console.log("name:", name);
        console.log("year:", year);
        // name 값에 따라 subject의 옵션을 변경
        subject.innerHTML = ""; // subject 초기화

        if (name === "경찰") {
            // 소방을 선택한 경우
            var options = ["형사법", "형법", "경찰학", "형사소송법", "범죄학"];
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement("option");
                option.text = options[i];
                subject.add(option);
            }
        } else if (name === "소방") {
            // 경찰을 선택한 경우
            var options = ["소방학개론", "소방직", "소방관계법규", "행정법총론"];
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement("option");
                option.text = options[i];
                subject.add(option);
            }
        }
    }
    // 초기 설정을 위해 한 번 호출
    updateOption();

</script>
</body>
</html>
