<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luke</title>
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>
<div id="posts-container">
    <div class="view">
        <div class="check"><h3>함께 > 자유잡담</h3></div>
        <div class="enter">
            <div class="search">
                <input class="size" name="titleKeyword" id="keyword" type="text">
                <button class="search-btn" onclick="searchPosts()">검색</button>
            </div>
            <div class="bar">
                <div class="btn">
                    <button class="write-btn" onclick="saveReq()">글쓰기</button>
                </div>
            </div>
            <div th:each="board: ${boardList}">
                <div class="write">
                    <div class="write-title">
                        <a th:href="@{|/public/board/${board.id}|(page=${boardList.number + 1})}"
                           th:text="${board.boardTitle}"></a>
                    </div>
                    <div class="write-content">
                        <div th:text="${board.boardContents}"></div>
                    </div>
                    <div class="write-bottom">
                        <div class="write-left">
                            <div class="user-name">
                                <div th:text="${board.boardWriter}"></div>
                            </div>
                            ㆍ
                            <div class="write-time">
                                <div th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                            </div>
                        </div>
                        <div class="write-right">
                            <div class="right-box">
                                <div class="best">
                                    추천 &nbsp;<div th:text="${board.recommendCount}"></div>
                                </div>
                                ㆍ
                                <div class="inquiry">
                                    조회&nbsp;<div th:text="${board.boardHits}"></div>
                                </div>
                                ㆍ
                                <div class="comment">
                                    댓글&nbsp;<div th:text="${board.commentCount}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page">
                <div class="paging">
                    <a th:href="${boardList.hasPrevious()} ? @{/public/board/(page=${boardList.number})} : '#'">이전</a>
                    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
                <span th:unless="${page == boardList.number + 1}">
                    <a th:href="@{/public/board/(page=${page})}" th:text="${page}"></a>
                </span>
            </span>
                    <a th:href="${boardList.hasNext()} ? @{/public/board/(page=${boardList.number + 2})} : '#'">다음</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    const saveReq = () => {
        location.href = "/public/board/save";
    }

</script>
</body>
</html>